<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container">

    <div class="header">

        <div class="navbar">
            <div class="logo">
                <a th:href="@{/index}">Product Management</a>
            </div>

            <ul>
                <li><a th:href="@{/index}" class="active">Home</a></li>
                <li><a th:href="@{/list}">Products</a></li>
                <li><a th:href="@{/form}">Add Product</a></li>
                <li><a th:href="@{/list2}">Sign Up</a></li>
                <li><a th:href="@{/home}">Login</a></li>
            </ul>
        </div>

    </div>




</div>

<div class="footer">
    <p>Product Management</p> <br>
</div>

</body>
</html>